html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(70, 52, 77); border:lavender; border-width: 1em;
}

li {
    list-style-type: none; color:rbg(70,52,77); 
    font-family: Verdana, Geneva, Tahoma, sans-serif; padding-bottom: 20px;
}

#hello {
    width:50%; margin:auto; font-size: large;
}

#backstop {
    background-color: lavender; height: 20in; padding: 5px; top:1px;
    width:90%; margin:auto; text-align: center; z-index: -1;
}

.icon {
    height: 30px; width: 30px;
}

.tile {
    height: 100px; width:100px;
}

#ambiance {
    /* The image used */
    background-image: url("../images/castle.gif");
      
    /* Full height */
    height: 100%;
      
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    height:10in;
}

#audioambiance {
    position:absolute; top:1em; right:1em;
}

#breaker {
    height: 20px;
}