html {
    scroll-behavior: smooth;
}


li {
    list-style-type: none; color:rbg(70,52,77); 
    font-family: Verdana, Geneva, Tahoma, sans-serif; padding-bottom: 20px;
}

#hello {
    width:50%; margin:auto; font-size: large;
}

#backstop {
    background-color: rgb(255, 255, 255); height: 20in; padding: 5px; top:1px;
    width:90%; margin:auto; text-align: center; z-index: -1;
}

.icon {
    height: 30px; width: 30px;
}

.tile {
    height: 100px; width:100px;
}

#testindex {
    /* The image used */
    background-image: url("../images/SargentSpain.jpg");
      
    /* Full height */
    height: 100%;
      
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    height:20in;
}

#breaker {
    height: 20px;
}

#white {
    color:rgb(22, 33, 42);
    font-family: Georgia, 'Times New Roman', Times, serif;
}